
/* +++++++++++++++++> */
/* inicio DRIVERS */
/* +++++++++++++++++> */

.driversContainer {
    background-color: $colorPrincipal;
    background: linear-gradient(90deg, rgba(0, 26, 48, 1) 0%, rgba(0, 0, 0, 0.9920343137) 96%);
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    height: auto;
    padding-top: 30px;
  
    h1 {
      text-align: center;
      color: red;
      text-shadow: 0.5px 0.5px 0px white;
      font-size: x-large;
    }

    #mvycp{
      margin-top: 30px;
      width: 400px;
      height: 250px;
    }
  
    .driversItems{
      color: white;
      h3 {
        color: red;
        text-shadow: 0.5px 0.5px 0px white;
        margin-top: 70px;
        font-size: x-large;
      }
      h4 {
        color: red;
        text-shadow: 0.5px 0.5px 0px white;
        margin-top: 40px;
      }
      .maxStats{
        li{
          font-size: medium;
        }
      }
      .checoStats{
        li{
          font-size: medium;
        }
      }
    } 
  }

  /* media */

  @media screen and (min-width: 768px){
    .driversContainer{
      #mvycp{
        width: 700px;
        height: 500px;
      }
      .driversItems{
        width: 50%;
        height: 50%;
      }
    }
  }
  
  /* +++++++++++++++++> */
  /* fin DRIVERS */
  /* +++++++++++++++++> */
  