
/* +++++++++++++++++> */
/* inicio HISTORY */
/* +++++++++++++++++> */

.historyContainer {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    padding: 10px;
    height: auto;
    padding-top: 30px;
  
    h1 {
      text-align: center;
      color: red;
      text-shadow: 1px 1px 0px white;
    }
  
    .historyItems {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      color: white;
      text-shadow: 1px 1px 0px black;
      margin-top: 20px;
    }
  }
  
  #historyPhoto {
    max-width: 500px;
    max-height: 500px;
    margin: 1rem;
  }
  
  @media screen and (min-width: 768px) {
    .historyContainer {
      height: 100vh;
  
      .historyItems {
        flex-direction: row-reverse;
      }
    }
  }
  
  /* +++++++++++++++++> */
  /* fin HISTORY */
  /* +++++++++++++++++> */
  