
/* +++++++++++++++++> */
/* inicio RACES */
/* +++++++++++++++++> */

.racesContainer {
    display: grid;
    justify-content: start;
    align-items: center;
    padding: 10px;
    height: auto;
    padding-top: 30px;
  
    h1 {
      color: red;
      text-shadow: 1px 1px 0px white;
    }
  
    .racesItems {
      color: white;
      text-shadow: 1px 1px 0px black;
      margin-top: 100px;
    }
  }
  
  
  /* +++++++++++++++++> */
  /* fin RACES */
  /* +++++++++++++++++> */
  