
/* +++++++++++++++++> */
/* inicio SHOP */
/* +++++++++++++++++> */

.shopContainer {
	display: flex;
	flex-direction: column;
	justify-content: start;
	align-items: center;
	height: auto;
	h1 {
		margin-top: 20px;
		color: red;
		text-shadow: 1px 1px 0px white;
		margin-bottom: 30px;
		text-align: center;
        font-size: x-large;
	}
}

.shopLink {
    color: red;
    text-shadow: 1px 1px 0px white;
    margin-bottom: 30px;
    text-align: center;
    font-size: xx-large;
    margin-top: 70px;
}

.shopArticles{
    display: grid;
    grid-template-rows: 25% 25% 25% 25%;
}

.shopArticles p{
    color: white;
    text-shadow: 1px 1px 0px black;
}

#item1{
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
}
#item2{
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
}
#item3{
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
}
#item4{
    max-width: 200px;
    max-height: 200px;
    margin: 1rem;
    padding-bottom: 20px;
}

.item1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.item2{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.item3{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}
.item4{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
}

/* Media queries */
/* tablet */

@media screen and (min-width: 475px){
    .shopContainer{
        height: 100vh;
    }

    .shopArticles{
        grid-template-columns: 50% 50%;
        grid-template-rows: 50% 50%;
    }

    #item4{
        padding-bottom: 0;
    }
}

/* fin media queries */

/* +++++++++++++++++> */
/* fin SHOP */
/* +++++++++++++++++> */
